<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/delete-confirmation.css}">
</head>
<body>
<div class="delete-container">
    <h1>Excluir Produto</h1>
    <h2>Tem certeza que deseja excluir o produto?</h2>

    <div class="content-wrapper">
        <div>
            <strong>Nome:</strong>
            <span th:text="${product.name}"></span>
        </div>
        <div>
            <strong>Descrição:</strong>
            <span th:text="${product.description}"></span>
        </div>
    </div>

    <form class="delete-form" th:action="@{/products/delete/{id}(id=${product.id})}" method="post">
        <button type="submit" class="btn-delete">CONFIRMAR EXCLUSÃO</button>
        <a href="/products/view" class="btn-cancel">CANCELAR</a>
    </form>
</div>
</body>
</html>
