<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excluir Produto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:if="${successMessage}" class="popup popup-success" th:text="${successMessage}"></div>
<div th:if="${errorMessage}" class="popup popup-error" th:text="${errorMessage}"></div>

<div class="container">
    <h1>Confirmar Exclusão</h1>
    <p>Você tem certeza que deseja excluir o produto <span th:text="${product.name}"></span>?</p>
    <form method="post" th:action="@{/products/delete/{id}(id=${product.id})}">
        <button type="submit">Sim</button>
        <a th:href="@{/products}">Cancelar</a>
    </form>
</div>
</body>
</html>
