<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
<div th:if="${successMessage}" class="popup popup-success" th:text="${successMessage}"></div>
<div th:if="${errorMessage}" class="popup popup-error" th:text="${errorMessage}"></div>

<div class="container">
    <h1>Editar Cliente</h1>
    <form th:action="@{/clients/edit/{id}(id=${client.id})}" method="post">
    <input type="hidden" name="_method" value="put" />

        <label for="establishmentName">Nome do Estabelecimento:</label>
        <input type="text" id="establishmentName" name="establishmentName" th:value="${client.establishmentName}" required maxlength="255" />

        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city" th:value="${client.city}" required maxlength="255" />

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" th:value="${client.address}" maxlength="255" />

        <label for="establishmentType">Tipo de Estabelecimento:</label>
        <input type="text" id="establishmentType" name="establishmentType" th:value="${client.establishmentType}" required maxlength="255" />

        <button type="submit">Salvar Alterações</button>
    </form>

    <div class="button-group">
        <a href="/clients/view" class="btn">Cancelar</a>
    </div>
</div>
</body>
</html>
