<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
<div th:if="${successMessage}" class="popup popup-success" th:text="${successMessage}"></div>
<div th:if="${errorMessage}" class="popup popup-error" th:text="${errorMessage}"></div>

<div class="container">
    <h1>Editar Cliente</h1>
    <form th:action="@{/clients/edit/{id}(id=${client.id})}" method="post">
        <label for="establishmentName">Nome do Estabelecimento:</label>
        <input type="text" id="establishmentName" name="establishmentName" th:value="${client.establishmentName}" required>

        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city" th:value="${client.city}" required>

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" th:value="${client.address}" required>

        <div>
            <p>Selecione o Tipo de Estabelecimento:</p>
            <div th:each="type : ${establishmentTypes}">
                <label>
                    <input type="checkbox" name="establishmentTypeIds"
                           th:value="${type.id}"
                           th:checked="${client.establishmentTypes != null and client.establishmentTypes.contains(type)}">
                    <span th:text="${type.name}"></span>
                </label>
            </div>
        </div>


        <button type="submit">Salvar Alterações</button>
    </form>

    <div class="button-group">
        <a href="/clients/view" class="btn">Cancelar</a>
    </div>
</div>
</body>
</html>
