<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Doces Giacomini</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="form-container">
  <img src="/img/logo_doces_giacomini.jpeg" alt="Doces Giacomini" class="logo">
  <h1>Acesse sua conta</h1>
  <form th:action="@{/user/login}" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Senha" required>
    <button type="submit">Login</button>
  </form>
  <div class="additional-links">
    <a href="/user/register">Não tem conta? Registre-se</a> |
    <a href="/products/view">Visualizar Produtos</a>
  </div>
</div>
</body>
</html>
