<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visualizar Pedidos</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<div class="container">
  <h1>Lista de Pedidos</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Data</th>
      <th>Valor Total</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.client.establishmentName}"></td>
      <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
      <td th:text="${order.totalValue}"></td>
      <td th:text="${order.status}"></td>
      <td>
        <a th:href="@{/orders/edit/{id}(id=${order.id})}" class="btn-edit">Editar</a>
        <a th:href="@{/orders/delete/{id}(id=${order.id})}" class="btn-delete">Excluir</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
