<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrar - Doces Giacomini</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:if="${successMessage}" class="popup popup-success" th:text="${successMessage}"></div>
<div th:if="${errorMessage}" class="popup popup-error" th:text="${errorMessage}"></div>

<div class="container">
  <img class="logo" th:src="@{/img/logo_doces_giacomini.jpeg}" alt="Logo Doces Giacomini"/>
  <h2>Crie sua conta</h2>
  <!-- Popups -->
  <div class="popup popup-error" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
  <div class="popup popup-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>

  <form method="post" th:action="@{/user/register}" onsubmit="return validateRegisterForm()">
    <input type="text" name="fullName" placeholder="Nome Completo" id="fullName" required />
    <input type="text" name="username" placeholder="Username" id="regUsername" required />
    <input type="password" name="password" placeholder="Senha" id="regPassword" required />
    <input type="password" name="confirmPassword" placeholder="Confirme a Senha" id="confirmPassword" required />
    <button type="submit">Registrar</button>
  </form>
  <a th:href="@{/login}">Já tem conta? Faça login</a>
  <a th:href="@{/products}" class="view-products-link">Visualizar Produtos</a>

</div>
</body>
</html>
